main { background-color: slategray; }

header { background-color: tan }
body.France header.your_turn { background-color: skyblue }
body.Britain header.your_turn { background-color: salmon }

#role_France { background-color: skyblue }
#role_Britain { background-color: salmon }

.panel {
	background-color: #0002;
}

.panel-head {
	background-color: #0002;
	color: white;
	font-weight: bold;
	text-align: center;
}


#mapwrap {
	width: 2550px;
	height: 1650px;
}

#map {
	width: 2550px;
	height: 1650px;
	background-image: url(boards75/map.avif);
	background-size: 2550px 1650px;
}

#panels {
	margin: 12px;
}

.panel {
	max-width: 1650px;
	margin: 12px auto;
}

.panel-body {
	min-height: 350px;
}

.board {
	margin: 12px auto;
	border: 1px solid black;
}

#war_display, #mat_1, #mat_2 {
	width: 825px;
	height: 638px;
}

#tile_display {
	width: 638px;
	height: 825px;
}

.card {
	width: 250px;
	height: 350px;
	background-size: 250px 350px;
	border: 1px solid black;
	border-radius: 16px;
}

/* SPACES & PIECES */

.space {
	box-sizing: border-box;
	background-color: #0004;
	border: 4px solid white;
}

.space.political {
	transform: rotate(45deg);
}

.space.market {
	border-radius: 50%;
}

.space.naval, .space.fort {
	background-image: url(images/hexagon.svg);
	background-size: 92px 92px;
	border-radius: 50%;
	border: none;
}

.space.advantage {
	background-image: url(images/pentagon.svg);
	background-size: 88px 88px;
	border-radius: 50%;
	border: none;
}

/* IMAGES */

.board.war-7yw { background-image: url(boards75/war_1.avif); }
.board.war-wss { background-image: url(boards75/war_2.avif); }
.board.war-was { background-image: url(boards75/war_3.avif); }
.board.war-awi { background-image: url(boards75/war_4.avif); }

.board.britain { background-image: url(boards75/mat_1.avif) }
.board.france { background-image: url(boards75/mat_2.avif) }

#tile_display { background-image: url(boards75/display_1.avif); }

.marker.square {
	width: 74px;
	height: 74px;
	background-size: 74px 74px;
	border: 1px solid black;
}

.marker.square-sm {
	width: 45px;
	height: 45px;
	background-size: 45px 45px;
	border: 1px solid black;
}

.marker.flag_br { background-image: url(tiles75/square-sm/flag_br.png) }
.marker.flag_fr { background-image: url(tiles75/square-sm/flag_fr.png) }
.marker.flag_spain { background-image: url(tiles75/square-sm/flag_spain.png) }
.marker.flag_usa { background-image: url(tiles75/square-sm/flag_usa.png) }

.card.event_card.c1 { background-image: url(cards100/event_01.avif) }
.card.event_card.c2 { background-image: url(cards100/event_02.avif) }
.card.event_card.c3 { background-image: url(cards100/event_03.avif) }
.card.event_card.c4 { background-image: url(cards100/event_04.avif) }
.card.event_card.c5 { background-image: url(cards100/event_05.avif) }
.card.event_card.c6 { background-image: url(cards100/event_06.avif) }
.card.event_card.c7 { background-image: url(cards100/event_07.avif) }
.card.event_card.c8 { background-image: url(cards100/event_08.avif) }
.card.event_card.c9 { background-image: url(cards100/event_09.avif) }
.card.event_card.c10 { background-image: url(cards100/event_10.avif) }
.card.event_card.c11 { background-image: url(cards100/event_11.avif) }
.card.event_card.c12 { background-image: url(cards100/event_12.avif) }
.card.event_card.c13 { background-image: url(cards100/event_13.avif) }
.card.event_card.c14 { background-image: url(cards100/event_14.avif) }
.card.event_card.c15 { background-image: url(cards100/event_15.avif) }
.card.event_card.c16 { background-image: url(cards100/event_16.avif) }
.card.event_card.c17 { background-image: url(cards100/event_17.avif) }
.card.event_card.c18 { background-image: url(cards100/event_18.avif) }
.card.event_card.c19 { background-image: url(cards100/event_19.avif) }
.card.event_card.c20 { background-image: url(cards100/event_20.avif) }
.card.event_card.c21 { background-image: url(cards100/event_21.avif) }
.card.event_card.c22 { background-image: url(cards100/event_22.avif) }
.card.event_card.c23 { background-image: url(cards100/event_23.avif) }
.card.event_card.c24 { background-image: url(cards100/event_24.avif) }
.card.event_card.c25 { background-image: url(cards100/event_25.avif) }
.card.event_card.c26 { background-image: url(cards100/event_26.avif) }
.card.event_card.c27 { background-image: url(cards100/event_27.avif) }
.card.event_card.c28 { background-image: url(cards100/event_28.avif) }
.card.event_card.c29 { background-image: url(cards100/event_29.avif) }
.card.event_card.c30 { background-image: url(cards100/event_30.avif) }
.card.event_card.c31 { background-image: url(cards100/event_31.avif) }
.card.event_card.c32 { background-image: url(cards100/event_32.avif) }
.card.event_card.c33 { background-image: url(cards100/event_33.avif) }
.card.event_card.c34 { background-image: url(cards100/event_34.avif) }
.card.event_card.c35 { background-image: url(cards100/event_35.avif) }
.card.event_card.c36 { background-image: url(cards100/event_36.avif) }
.card.event_card.c37 { background-image: url(cards100/event_37.avif) }
.card.event_card.c38 { background-image: url(cards100/event_38.avif) }
.card.event_card.c39 { background-image: url(cards100/event_39.avif) }
.card.event_card.c40 { background-image: url(cards100/event_40.avif) }
.card.event_card.c41 { background-image: url(cards100/event_41.avif) }

.card.ministry_card.c1 { background-image: url(cards100/ministry_01.avif) }
.card.ministry_card.c2 { background-image: url(cards100/ministry_02.avif) }
.card.ministry_card.c3 { background-image: url(cards100/ministry_03.avif) }
.card.ministry_card.c4 { background-image: url(cards100/ministry_04.avif) }
.card.ministry_card.c5 { background-image: url(cards100/ministry_05.avif) }
.card.ministry_card.c6 { background-image: url(cards100/ministry_06.avif) }
.card.ministry_card.c7 { background-image: url(cards100/ministry_07.avif) }
.card.ministry_card.c8 { background-image: url(cards100/ministry_08.avif) }
.card.ministry_card.c9 { background-image: url(cards100/ministry_09.avif) }
.card.ministry_card.c10 { background-image: url(cards100/ministry_10.avif) }
.card.ministry_card.c11 { background-image: url(cards100/ministry_11.avif) }
.card.ministry_card.c12 { background-image: url(cards100/ministry_12.avif) }
.card.ministry_card.c13 { background-image: url(cards100/ministry_13.avif) }
.card.ministry_card.c14 { background-image: url(cards100/ministry_14.avif) }
.card.ministry_card.c15 { background-image: url(cards100/ministry_15.avif) }
.card.ministry_card.c16 { background-image: url(cards100/ministry_16.avif) }
.card.ministry_card.c17 { background-image: url(cards100/ministry_17.avif) }
.card.ministry_card.c18 { background-image: url(cards100/ministry_18.avif) }
.card.ministry_card.c19 { background-image: url(cards100/ministry_19.avif) }
.card.ministry_card.c20 { background-image: url(cards100/ministry_20.avif) }
.card.ministry_card.c21 { background-image: url(cards100/ministry_21.avif) }
.card.ministry_card.c22 { background-image: url(cards100/ministry_22.avif) }
.card.ministry_card.c23 { background-image: url(cards100/ministry_23.avif) }
.card.ministry_card.c24 { background-image: url(cards100/ministry_24.avif) }
.card.ministry_card.c25 { background-image: url(cards100/ministry_25.avif) }
.card.ministry_card.c26 { background-image: url(cards100/ministry_26.avif) }
