/* THINGS */

body.hide-markers .marker { display: none }
body.hide-pieces .piece { display: none }

.panel-body > * {
	position: relative;
}

.board {
	position: relative;
}

.board > * {
	position: absolute;
}

.layout {
	pointer-events: none;
}

.layout > * {
	position: relative;
	pointer-events: auto;
}

.stack {
	pointer-events: none;
}

.stack > * {
	position: absolute;
	pointer-events: auto;
}

/* TIP (ENGLARGED CARD VIEW) */

#tip {
	pointer-events: none;
	position: fixed;
	z-index: 1000;
	right: 240px;
	top: 60px;
}

@media (max-width: 800px) {
	#tip {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

/* PANELS */

.panel {
	background-color: #0002;
}

.panel-head {
	padding: 0px 8px;
	font-weight: bold;
	color: white;
	background-color: #0002;
}

.panel-body {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	padding: 12px;
}

.panel.autohide:has(.panel-body:empty) {
	display: none;
}

/* OVERLAYS */

.overlay {
	scroll-margin: 20px;
}

.overlay summary {
	list-style: none;
	cursor: n-resize;
	padding: 0px 8px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.overlay summary {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="16"><path stroke-width="3" stroke="white" fill="none" d="M 14 5 L 8 11 L 2 5"/></svg>');
	color: white;
}

.overlay[open] summary {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="16"><path stroke-width="3" stroke="white" fill="none" d="M 14 11 L 8 5 L 2 11"/></svg>');
}

.overlay.color\:gold summary {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="16"><path stroke-width="3" stroke="gold" fill="none" d="M 14 5 L 8 11 L 2 5"/></svg>');
	color: gold;
}

.overlay[open].color\:gold[open] summary {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="16"><path stroke-width="3" stroke="gold" fill="none" d="M 14 11 L 8 5 L 2 11"/></svg>');
}

.overlay.color\:black summary {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="16"><path stroke-width="3" stroke="black" fill="none" d="M 14 5 L 8 11 L 2 5"/></svg>');
	color: black;
}

.overlay[open].color\:black[open] summary {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="16"><path stroke-width="3" stroke="black" fill="none" d="M 14 11 L 8 5 L 2 11"/></svg>');
}

/* LAYOUT */

.layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.layout > * {
	flex: 0 0 auto;
}

.layout > .break {
	pointer-events: none;
	flex-basis: 100%;
}

.layout.space-between { justify-content: space-between; align-content: space-between; }
.layout.space-around { justify-content: space-around; align-content: space-around; }

.layout.grav-n { justify-content: center; align-content: start; }
.layout.grav-s { justify-content: center; align-content: end; }
.layout.grav-w { justify-content: start; align-content: center; }
.layout.grav-e { justify-content: end; align-content: center; }
.layout.grav-ne { justify-content: end; align-content: start; }
.layout.grav-nw { justify-content: start; align-content: start; }
.layout.grav-se { justify-content: end; align-content: end; }
.layout.grav-sw { justify-content: start; align-content: end; }

.layout.grow-h { flex-direction: column; }
.layout.grow-h.grav-n { align-content: center; justify-content: start; }
.layout.grow-h.grav-s { align-content: center; justify-content: end; }
.layout.grow-h.grav-w { align-content: start; justify-content: center; }
.layout.grow-h.grav-e { align-content: end; justify-content: center; }
.layout.grow-h.grav-ne { align-content: end; justify-content: start; }
.layout.grow-h.grav-nw { align-content: start; justify-content: start; }
.layout.grow-h.grav-se { align-content: end; justify-content: end; }
.layout.grow-h.grav-sw { align-content: start; justify-content: end; }

/* BUG: In chrome the width grows automatically in the non-specified inset direction! */
/* BUG: However, in Safari and Firefox it does not.... */
/* BUG: Set align-content to force overflow in the desired direction so it behaves the same everywhere. */
.layout.grow-h.grow-e { align-content: start; }
.layout.grow-h.grow-w { align-content: end; }

/* SQUARE GRID LAYOUT -- NEEDS JS ASSISTANCE */

.layout.square {
	display: grid;
	grid-template-columns: repeat(var(--square, 2), var(--cell-w, min-content));
	grid-template-rows: repeat(var(--square, 2), var(--cell-h, min-content));
}

.layout.square .break {
	grid-column: var(--square, 1);
}

/* DICE ICONS */

.dice {
	display: inline-block;
	background-image: url(/images/die_black_pips.svg);
	background-size: 600% 100%;
	background-repeat: no-repeat;
	border: 1px solid black;
}

#log .dice {
	vertical-align: -2px;
	width: 12px;
	height: 12px;
}

#prompt .dice {
	vertical-align: -3px;
	width: 16px;
	height: 16px;
}

.dice.W {
	background-image: url(/images/die_black_pips.svg);
	background-color: #fff;
}

.dice.B {
	background-image: url(/images/die_white_pips.svg);
	background-color: #444;
}

.dice.d0 { background-position: -100% 0 }
.dice.d1 { background-position: 0% 0; }
.dice.d2 { background-position: 20% 0; }
.dice.d3 { background-position: 40% 0; }
.dice.d4 { background-position: 60% 0; }
.dice.d5 { background-position: 80% 0; }
.dice.d6 { background-position: 100% 0; }
